@model KronoMata.Web.Models.JobConfigViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            @if (Model.PluginConfiguration.IsRequired)
            {
                <i class="fa fa-asterisk"></i>
            }
            <label>@Model.PluginConfiguration.Name</label>
            <textarea class="form-control" rows="3" name="@Model.ControlId" id="@Model.ControlId">@Model.ConfigurationValue.Value</textarea>
            <i>@Model.PluginConfiguration.Description</i>
        </div>
    </div>
</div>
