@model KronoMata.Web.Models.JobConfigViewModel 

<div class="row">
    <div class="col-sm-4">
        <div class="form-group m-0">
            @if (Model.PluginConfiguration.IsRequired)
            {
                <i class="fa fa-asterisk"></i>
            }
            <label>@Model.PluginConfiguration.Name</label>
            @if (Model.PluginConfiguration.DataType == KronoMata.Public.ConfigurationDataType.Integer)
            {
                <input type="number" step="1" class="form-control" value="@Model.ConfigurationValue.Value" name="@Model.ControlId" id="@Model.ControlId">
            }
            else
            {
                <input type="number" step=".1" class="form-control" value="@Model.ConfigurationValue.Value" name="@Model.ControlId" id="@Model.ControlId">
            }
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 1rem !important;">
    <div class="col-sm-12">
        <i>@Model.PluginConfiguration.Description</i>
    </div>
</div>