@model KronoMata.Web.Models.JobConfigViewModel 

@{
    var controlId = $"config-{Model.PluginConfiguration.Id}-{Model.ConfigurationValue.Id}";
}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            @if (Model.PluginConfiguration.IsRequired)
            {
                <i class="fa fa-asterisk"></i>
            }
            <label>@Model.PluginConfiguration.Name</label>
            <input type="text" class="form-control" value="@Model.ConfigurationValue.Value" name="@controlId" id="@controlId">
            <i>@Model.PluginConfiguration.Description</i>
        </div>
    </div>
</div>
