@model KronoMata.Web.Models.JobConfigViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>@Model.PluginConfiguration.Name</label>
            <select hidden class="form-control select2bs4" multiple="multiple" style="width: 100%" name="@Model.ControlId" id="@Model.ControlId">
                @foreach (var selectVal in Model.SelectValues)
                {
                    var selected = String.IsNullOrEmpty(Model.ConfigurationValue.Value) ? false : Model.ConfigurationValue.Value.Split(",".ToCharArray()).Contains(selectVal);
                    <option value="@selectVal" selected="@selected">@selectVal</option>
                }
            </select>
            <i>@Model.PluginConfiguration.Description</i>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (initFunctions) {
        initFunctions.push(() => {
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });
    }
</script>