@model KronoMata.Web.Models.JobConfigViewModel 

<div class="row">
    <div class="col-sm-12">
        <div class="form-check">
            @{
                var isChecked = Model.ConfigurationValue.Value == "True";
            }
            <input type="checkbox" class="form-check-input" name="@Model.ControlId" id="@Model.ControlId" checked="@isChecked">
            <label for="scheduledjob-isEnabled">@Model.PluginConfiguration.Name</label>
            <br /><i>@Model.PluginConfiguration.Description</i>
        </div>
    </div>
</div>