@model KronoMata.Web.Models.JobConfigViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            @if (Model.PluginConfiguration.IsRequired)
            {
                <i class="fa fa-asterisk"></i>
            }
            <label>@Model.PluginConfiguration.Name</label>
            <select class="form-control" name="@Model.ControlId" id="@Model.ControlId">
                @foreach (var selectVal in Model.SelectValues)
                {
                    var selected = String.IsNullOrEmpty(Model.ConfigurationValue.Value) ? false : Model.ConfigurationValue.Value.Split(",".ToCharArray()).Contains(selectVal);
                    <option value="@selectVal" selected="@selected">@selectVal</option>
                }
            </select>
            <i>@Model.PluginConfiguration.Description</i>
        </div>
    </div>
</div>
