@model KronoMata.Web.Models.BaseViewModel 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KronoMata | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Local style -->
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="icon" type="image/png" href="~/favicon.png" />
</head>
<body class="hold-transition login-page">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        @foreach (KronoMata.Web.Models.NotificationMessage message in Model.Messages)
        {
            switch (message.MessageType)
            {
                case KronoMata.Web.Models.NotificationMessageType.Exception:
                case KronoMata.Web.Models.NotificationMessageType.Error:
                    <div class="alert alert-danger">
                        <i class="fa fa-exclamation-circle"></i>
                        @message.Message
                    </div>
                    break;
                case KronoMata.Web.Models.NotificationMessageType.Warning:
                    <div class="alert alert-warning">
                        <i class="fa fa-exclamation-triangle"></i>
                        @message.Message
                    </div>
                    break;
                case KronoMata.Web.Models.NotificationMessageType.Information:
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i>
                        @message.Message
                    </div>
                    break;
                case KronoMata.Web.Models.NotificationMessageType.Success:
                    <div class="alert alert-success">
                        <i class="fa fa-thumbs-up"></i>
                        @message.Message
                    </div>
                    break;
            }
        }
    </section>

    <!-- Main content -->
    <section class="content">
        @RenderBody()
    </section>
    <!-- /.content -->
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- site specific -->
    <script src="~/js/site.js"></script>
</body>
</html>
